<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Najbliższa lekcja</title>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
    <h2></h2>
    <script>
        let res=[/-JSON.stringify(resValue)/];

        let day = res.day;
        let name = '[/-objName/]';

        document.querySelector('h2').innerHTML = `Następna lekcja dla ${name} w dniu: ${day}`;

        let table = document.createElement("table");
        let thead = document.createElement("thead");
        let tbody = document.createElement("tbody");

        let headRow = document.createElement("tr");
        let headers = Object.keys(res).slice(0,3);
        let headersName = ['Nr','Czas trwania','Lekcja'];
        for (let i = 0; i < headers.length; i++) {
            let th = document.createElement("th");
            th.innerHTML = headersName[i];
            headRow.appendChild(th);
        }

        thead.appendChild(headRow);

        let bodyRow = document.createElement("tr");
        for (let i = 0; i < headers.length; i++) {
            let td = document.createElement("td");
            td.innerHTML += `${res[headers[i]]}`.replace(/\n/g, "<br>");
            bodyRow.appendChild(td);
        }
        tbody.appendChild(bodyRow);

        table.appendChild(thead);
        table.appendChild(tbody);

        let wrapper = document.createElement('div');
        wrapper.classList.add('table-wrapper');
        wrapper.appendChild(table);
        document.body.appendChild(wrapper); 
    </script>

    <a href="/" class="go-back-btn">Wróć do strony głównej</a>
</body>
</html>