<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wszystkie lekcje w</title>
    
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2 class="title">Wszystkie lekcje w</h2>
    <script>
        let res=[/-JSON.stringify(resValue)/];

        document.title = 'Wszystkie lekcje dla ' + "[/-objName/]" +' w dniu: ' + res[0]['Dzień'];
        document.querySelector('.title').innerHTML = 'Wszystkie lekcje dla ' + "[/-objName/]" + ' w dniu: ' + res[0]['Dzień'];

        let table = document.createElement("table");
        let thead = document.createElement("thead");
        let tbody = document.createElement("tbody");

        let headRow = document.createElement("tr");

        let headers = Object.keys(res[0]);
        for (let i = 0; i < headers.length-1; i++) {
            let th = document.createElement("th");
            th.innerHTML = headers[i];
            headRow.appendChild(th);
        }

        thead.appendChild(headRow);

       for (let index = 0; index < res.length; index++) {
            let data = res[index];
            let tr = document.createElement("tr");
            let html = "";

            for (let j = 0; j < 3; j++) {
                html += "<td>" + data[headers[j]].replace(/\n/g, "<br>") + "</td>";
            }
            tr.innerHTML = html;
            tbody.appendChild(tr);
        }

        table.appendChild(thead);
        table.appendChild(tbody);

        document.body.appendChild(table);
    </script>

    <a href="/" class="go-back-btn">Go back to home page</a>
</body>
</html>