<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="wrapper">
        <form action="">
            <!-- GIF banner -->
            <div class="banner"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F95%2F75%2F92%2F957592dd6b8a80094888a34e61dd0d40.gif&f=1&nofb=1&ipt=961b6b9943b4a541fe3052529e4ad20604032bc56e40ac44f94dfddb713ac410&ipo=images" alt=""></div>

            <!-- Error message -->
            <div class="error hidden"></div>

            <div class="inputs-wrapper">

                <!-- Basic info -->
                <p class="mt">Wpisz adres URL plan lekcji</p>
                <label for="url"><input type="text" name="url" required id=""value="https://plan.elektronik.edu.pl/"></label>
                <p>Wpisz nazwę obiektu (klasa, inicjały nauczyciela)</p>
                <label for="name"><input type="text" name="name" id=""placeholder="Podaj w przypadku braku ścieżki do pliku HTML"></label>

                <!-- Query type -->
                <p>Wybierz rodzaj zapytania:</p>

                <!-- Schedule radio -->
                <label for="schedule"> <input type="radio" id="schedule" checked name="query" onclick="radioChecked(this)" value="schedule">Plan zajęć</label>

                <!-- Current lesson -->

                <label for="currentLesson"> <input type="radio" id="currentLesson" name="query"onclick="radioChecked(this)" value="currentLesson">Najbliższa lekcja</label>

                <!-- Additional inputs for current lesson option -->
                <div id="cl-container" class="less">
                    <label for="cl-time">Godzina: <input type="time" name="clTime" id="cl-time"></label><br>
                    <label for="cl-day">Dzień tygodnia:
                        <select name="clDay" id="cl-day">
                            <option value=1>Poniedziałek</option>
                            <option value=2>Wtorek</option>
                            <option value=3>Środa</option>
                            <option value=4>Czwartek</option>
                            <option value=5>Piątek</option>
                        </select>
                    </label>
                </div>

                <!-- Every lesson -->

                <label for="everyLesson"> <input type="radio" id="everyLesson" name="query" onclick="radioChecked(this)"value="everyLesson">Wszystkie lekcje w danym dniu</label>

                <!-- Additional inputs for every lesson option -->
                <div id="el-container" class="less">
                    <label for="el-day">Dzień tygodnia:
                        <select name="elDay" id="el-day">
                            <option value=1>Poniedziałek</option>
                            <option value=2>Wtorek</option>
                            <option value=3>Środa</option>
                            <option value=4>Czwartek</option>
                            <option value=5>Piątek</option>
                        </select>
                    </label>
                </div>

                <!-- Submit button -->
                <input type="submit" value="Wyślij">
            </div>
        </form>
    </div>

    <!-- Settings button -->
    <div class="settings-btn"><i class="fa-solid fa-cog"></i></div>

    <!-- Settings page -->
    <div class="settings hidden">
        <h2>Ustawienia <i class="fa fa-cog"></i></h2>
        
        <div class="setting-wrapper">
            <label for="mw">
                <input type="checkbox" name="mw" id="mw"> 
                <p>Dopasuj całe słowo</p> <i class="fa fa-question-circle mw-explanation-btn"></i>
            </label>
    
            <div class="mw-explanation">
                <p>✔ XX -> XX<br>
                ❌ XX -> XXY, XXZ</p>
                </p>
            </div>
    
            <label for="json">
                <input type="checkbox" name="json" id="json"> 
                <p>Odpowiedź w JSON</p></i>
            </label>
            <br>
            <a target="_blank" href="https://github.com/jozwikaleksander/schedulescrapper/" style="display:block;margin-top:15px">Więcej informacji znajdziesz tutaj</a>
        </div>

        <input type="button" value="Zatwierdź" class="settings-submit">
    </div>

    <script>
        let err = "[/-error/]";
        let errorBox = document.querySelector('.error');
        if(err != ""){
            errorBox.classList.remove('hidden');
            errorBox.innerHTML = err;
        }
    </script>
    <script src="js/home.js"></script>
    <script src="js/settings.js"></script>
</body>
</html>