<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Znaleziono więcej niż jeden obiekt</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <form style="padding-left: 30px; padding-right: 30px;">
            <h2>Więcej niż jeden obiekt pasuje do wymienionych kryteriów. Wybierz jeden z nich</h2>

            <div class="form-group">
                <ul class="objects-list"></ul>
            </div>
            <a href="/" class="go-back-btn">Wróć do strony głównej</a>
        </form>
    </div>

    <script>
        let objList = document.querySelector('.objects-list');

        let objs = [/-JSON.stringify(resValue)/];
        let name = "[/-name/]";
        let queryType = "[/-queryType/]";
        let time = "[/-time/]";
        let day = "[/-day/]";
        let url = "[/-url/]";
        let responseType = "[/-responseType/]";

        for (let i = 0; i < objs.length; i++) {
            let name = objs[i].split(',')[1];
            let result = objs[i].split(',')[0];
            let li = document.createElement('li');
            let a = document.createElement('a');
            a.href = `?q=${queryType}&n=${name}&t=${time}&d=${day}&r=${responseType}&url=${url}` + result;
            a.innerHTML = name;
            li.appendChild(a);
            objList.appendChild(li);
        }
    </script>
</body>
</html>