<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan zajęć</title>
    
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>Plan lekcji</h2>
    <script>
        let res=[/-JSON.stringify(resValue)/];

        let table = document.createElement("table");
        let tableHead = document.createElement('thead');
        let tableBody = document.createElement('tbody');
        let headers = Object.keys(res[0][0]);
        let cols = headers.length;
        let tr = document.createElement("tr");
            for (let i = 0; i < cols; i++) {
                let th = document.createElement("th");
                th.innerHTML = headers[i];
                tr.appendChild(th);
            }
            tableHead.appendChild(tr);
        table.appendChild(tableHead);

        for (let index = 0; index < res[0].length; index++) {
            let data = res[0][index];
            let tr = document.createElement("tr");
            let html = "";

            for (let j = 0; j < headers.length; j++) {
                html += "<td>" + data[[headers[j]]].replace(/\n/g, "<br>") + "</td>";
            }
            tr.innerHTML = html;
            tableBody.appendChild(tr);
        }

        table.appendChild(tableBody);
        document.body.appendChild(table);
    </script>
    
    <a href="/" class="go-back-btn">Wróć do strony głównej</a>
    <input type='button' class="current-lesson-btn" value="Znajdź najbliższą lekcję">

    <script src="js/schedule.js"></script>
</body>
</html>